@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --radius: 8px;
  --color: #333;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

body {
  background: rgb(246, 246, 246);
}

.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  .gradient {
    position: fixed;
    height: 5px;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(125,73,161,1) 0%, rgba(218,63,88,1) 50%, rgba(233,133,149,1) 100%);
    z-index: 999;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }
}

.card {
  border-radius: var(--radius);
  box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.08);
  background: white;
}

.my-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: none;
  border: solid 2px #de3450;
  color: #de3450;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color ease 0.4s, color ease 0.4s;
  box-sizing: border-box;
  overflow: hidden;


  &:hover {
    color: white;
    background-color: #de3450;
  }
}